---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header>
        <div class="container d-flex">
            <h1>{{ site.header.title }}</h1>
            <button id="burger" class="menu-btn ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="menu-btn__line"></span>
                <span class="menu-btn__line"></span>
                <span class="menu-btn__line"></span>
                <span class="menu-btn__line"></span>
                <span class="menu-btn__close"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Kseniia Sheremet Photographer</h5>
                    <button id="close-burger" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="price.html">Price</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="social">
                        <a class="inst" href="{{ site.header.instagram }}">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="fb" href="{{ site.header.facebook }}">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a class="tg" href="{{ site.header.telegram }}">
                            <i class="bi bi-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <div id="portfolio">
        <div class="portfolio container w-100 my-5">
            <div class="portfolio-row row w-100">
                {% for image in site.static_files %}
                {% if image.path contains 'fulls' %}
                    <div class="portfolio-item col-lg-4 col-md-6 col-12 my-5" data-aos="fade-up">
                        <a data-fslightbox="gallery" href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="img ratio ratio-4x3">
                            <img class="d-block w-100 shadow-1-strong rounded" src="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" alt="">
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
