html, body {
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  background: #e8e5d6;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #858585;
  margin-bottom: 0;
}

@media (max-width: 720px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  position: relative;
  margin-bottom: 40px;
}

h2:after {
  content: '';
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -20px;
  left: 0;
  background: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 999;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 0px 10px;
          box-shadow: 2px 0px 10px;
}

header .container {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.menu-btn__line {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu-btn__line:nth-child(4) {
  width: 14px;
  margin: 0;
}

.menu-btn__line:nth-child(1) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-btn__line:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.menu-btn__line:nth-child(3) {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}

.menu-btn__line:nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.menu-btn__close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
          transform: rotate(-45deg) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.menu-btn__close::before, .menu-btn__close::after {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.menu-btn__close::before {
  width: 2px;
  height: 20px;
  top: 0;
  left: 50%;
  margin-left: -1px;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.menu-btn__close::after {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
  margin-top: -1px;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-btn.active .menu-btn__line {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-btn.active .menu-btn__close::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.menu-btn.active .menu-btn__close::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}

.menu-btn.active .menu-btn__line:nth-child(1) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-btn.active .menu-btn__line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-btn.active .menu-btn__line:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-btn.active .menu-btn__line:nth-child(4) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero .hero-photo {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolioBlock {
  padding: 80px 0;
}

#carousel-main .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 720px) {
  .portfolio-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.portfolio-item a {
  display: block;
}

.portfolio-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offcanvas-body ul {
  list-style: none;
  padding: 0;
}

.offcanvas-body ul li {
  margin-bottom: 20px;
}

.offcanvas-body ul li a {
  color: #858585;
  text-decoration: none;
}

.offcanvas-body ul li a:hover {
  color: #000;
}

.social {
  margin-top: auto;
}

.social a {
  font-size: 24px;
  text-decoration: none;
  color: #858585;
  margin-right: 25px;
}

.social a:hover {
  color: #000;
}

.intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.about {
  min-height: 100vh;
  padding: 300px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .about .about-aricle {
    position: relative;
    top: 80px;
  }
  .about .about-picture {
    position: relative;
    top: -80px;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 100px 0;
  }
}

.about-img {
  position: relative;
  z-index: 1;
}

.about-img img {
  width: 100%;
}

.about-img:after {
  content: '';
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  position: absolute;
  top: 50px;
  right: -50px;
  z-index: -1;
}

@media (max-width: 670px) {
  .about-img:after {
    display: none;
  }
}

.price {
  min-height: 100vh;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price .card {
  height: 100%;
}

.price .card .card-img-top {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  padding: 150px 0;
}

.contacts .social-icons {
  padding: 20px 0;
}

.contacts .social-icons a {
  font-size: 20px;
  color: #858585;
  text-decoration: none;
  margin-right: 20px;
}

.contacts .social-icons a:last-child {
  margin-right: 0;
}

.contacts .social-icons a:hover {
  color: #000;
}

.contacts .main-btn {
  padding: 8px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #858585;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.contacts .main-btn:hover {
  color: #fff;
  border: 1px solid #000;
  background: #000;
}

.contacts .photographer-picture img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */